body{
    background-color:#1C1C1C;
}

::-webkit-scrollbar-track {
    background-color:#4E4E4E;
    border-radius:15px;
}
::-webkit-scrollbar {
    width:15px;
}
::-webkit-scrollbar-thumb {
    background:#000000;
    border-radius:15px;
}
h1{
    color: whitesmoke;
    text-align: center;
}
h2{
    color: white;
}
h3{
    color: white;
   font-family:Arial;
   font-size: 25px;
}
h4{
    color: white;
    font-size: 18px;
}
h5{
    color: white;
   font-size: 40px;
}
h6{
    color: white;
    font-size: 22px;
}
p{
    color:#fff;
    text-align: center;
}
.title{
    font-size: 80px;
}
.title-2{
    font-size: 55px;
}
.border{
    border-radius: 5px;
}
.page-button {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background:gray;
    border-radius: 50%;
    list-style: none;
}

.page-button:not(:first-child) {
    margin-left:2px;
}

.active-button {
    background:#fff;
}

.carrosel-page {
    display: none;
}
.coment{
    font-family: Arial;
    font-size: 15px;
}
